@model Dotnet.Portal.App.ViewsModels.PaymentViewModel

<div class="ui segment">
    <div class="ui relaxed divided list">
        <div class = "item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Date)
                </div>
                @Html.DisplayFor(model => model.Date)
            </div>
        </div>
        <div class = "item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Amount)
                </div>
                @Html.DisplayFor(model => model.Amount)
            </div>
        </div>
        <div class = "item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Type)
                </div>
                @Html.DisplayFor(model => model.PaymentType)
            </div>
        </div>
        <div class = "item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Member.Name)
                </div>
                @Html.DisplayFor(model => model.Member.Name)
            </div>
        </div>
    </div>
</div>
